META.yml
Makefile
blib/*
inc/*
*.sw[po]
pm_to_blib
MANIFEST
MANIFEST.bak
SIGNATURE
Hash-FieldHash-*
*~
*.bak
*.old
cover_db/*
nytprof*
*.out
ppport.h
#xshelper.h
*.bs
*.o
*.obj
*.c
MYMETA.*
/_build
/Hash-FieldHash-*
/.build
/_build_params
/Build
!Build/
!META.json
